<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	    <section name="common" type="System.Configuration.NameValueSectionHandler" />
	    <section name="unixPlatform" type="System.Configuration.NameValueSectionHandler" />
	    <section name="windowsPlatform" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<common>
		<add key="tableCssClasses" value="data,table,dnnGrid" />
	</common>
	<unixPlatform>
	</unixPlatform>
	<windowsPlatform>
	</windowsPlatform>
</configuration>