<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	    <section name="common" type="System.Configuration.NameValueSectionHandler" />
	    <section name="unixPlatform" type="System.Configuration.NameValueSectionHandler" />
	    <section name="windowsPlatform" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<common>
		<add key="tableCssClasses" value="table table-striped table-bordered table-hover,table table-striped table-bordered table-hover table-condensed,dnnGrid" />
	</common>
	<unixPlatform>
	</unixPlatform>
	<windowsPlatform>
	</windowsPlatform>
</configuration>