<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	    <section name="common" type="System.Configuration.NameValueSectionHandler" />
	    <section name="unixPlatform" type="System.Configuration.NameValueSectionHandler" />
	    <section name="windowsPlatform" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<common>
		<add key="tabsPosition" value="Bottom" />
		<add key="addinsOrder" value="textcleaner,tablecleaner,casechanger,ratiocalculator,passwordgenerator,characters" />
	</common>
	<unixPlatform>
		<add key="test" value="Unix" />
	</unixPlatform>
	<windowsPlatform>
		<add key="test" value="Windows" />
	</windowsPlatform>
</configuration>