<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	    <section name="common" type="System.Configuration.NameValueSectionHandler" />
	    <section name="unixPlatform" type="System.Configuration.NameValueSectionHandler" />
	    <section name="windowsPlatform" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<common>
	</common>
	<unixPlatform>
        <add key="CharMapApplication" value="charmap" />
	</unixPlatform>
	<windowsPlatform>
        <add key="CharMapApplication" value="charmap" />
	</windowsPlatform>
</configuration>